@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img src="~/Images/DinoDiner-29.png" width="300" />
<div></div>
<a asp-page="Menu">Go To Menu</a>
<div></div>
<a asp-page="Privacy">Our Privacy Policy</a>
<div></div>
<a asp-page="About">About Dino-Diner</a>