/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.menu-item {
    margin: 10px;
}

.container1 {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.results {
    margin-right: 400px;
}

form {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: 300px;
}